body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background-color: #C1D8B9;
    color: #333;
    line-height: 1.6;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact {
    background-color: beige;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact h1 {
    color: #333;
    margin-bottom: 10px;
}

.contact p {
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

label {
    text-align: left;
    margin-top: 10px;
    color: #333;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: vertical;
}

button {
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #555;
}

#form-message {
    margin-top: 15px;
    color: #28a745;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #000000;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    .contact {
        padding: 15px;
    }
    form {
        max-width: 100%;
    }
    footer {
        position: relative;
    }
}